body{
    background: #dfb89c;
}
h1{
    font-family: 'Roboto', sans-serif;
}
.center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#taskBlock{
    border: 2px solid black;
    margin: 10px;
    width: auto;
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 0fr);    
}

.task{
    font-family: 'Roboto', sans-serif;
    border: 2px solid black;
    word-break:break-all;
    width: 150px;
    height: 150px;
    resize: none;
}

#taskInput{
    overflow: hidden;
    resize: none;
    width: 150px;
    height: 150px;
}

