body{
    background: #dfb89c;
}

.center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#taskBlock{
    margin: 10px;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 0fr);    
}

.task{
    word-break:break-all;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

